*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(red, yellow);
    height: 85vh;
    font-family: "Playwrite NG Modern", cursive;
}
.header {
    font-size: 3rem;
    text-align: center;
    margin-top: 15vh;
}

.main {
    height: 20vh;
    width: 40vw;
    border: 4px solid black;
    border-radius: 2rem;
    font-size: 5rem;
    font-weight: 500;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: double;
    color: white;
    /* background-color: rgb(64, 224, 208); */
    background-color: #00573f;
    font-family: sans-serif;
}
.alarms {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.setStatus{
    margin: 3rem;
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 1.2rem;
}
.stopAlarm button {
    padding: 0.6rem 2rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
  
}
.setAlarm button {
    padding: 0.6rem 2rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    background-color: black;
    color: white;

}
.set {
    margin-top: 2rem;
    text-align: center;
}
input {
    border-radius: 1.6rem;
    width: 10rem;
    height: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    margin-top: 1rem;
}
.stopAlarm button:hover {
    border: 1px solid white;
}
.stopAlarm button:active {
    border: 2px solid white;
}
.set button:hover {
    border: 1px solid white;
}
.set button:active {
    border: 2px solid white;
}
.text {
    margin-top: 1rem;
    font-weight: bold;
}
